.container.auth
  .authentication-block
    %a.brand{href:"/landing/filter"}
    %p.brand-tagline
      Directories that works offline.
  .page-box
    .text-center
      %h1.title Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .col-md-12
        %label.zap-label
          Email
          = f.email_field :email, autofocus: true, class: "zap-input"
      .col-md-12
        %label.zap-label
          Password
          = f.password_field :password, autocomplete: "off", class: "zap-input"
      .col-md-12
        %label.zap-label
          Password Confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: "zap-input"

      .col-md-12
        .form-actions
          = f.submit "Sign Up", class: "zap-success block-full"

      .col-md-12.form-actions
        %p Already have an account?
        = link_to "Sign In", new_partner_session_path
