.panel-default.panel-fixed
  .panel-body
    = form_tag filter_landing_index_path, method: :get do
      .form-group.col-md-4
        = select_tag :city_id, options_for_select(@options.cities, params[:city_id]), class: "form-control", prompt: "All Cities"
      .form-group.col-md-4
        = select_tag :category_id, options_for_select(@options.categories, params[:category_id]), class: "form-control", prompt: "All Categories"
      .form-group.col-md-4
        = submit_tag "Search", class: "btn btn-primary form-control"

