- @establishments.each do |establishment|
  .col-md-6.hero-feature
    .thumbnail
      .crop
        = image_tag establishment.image_url, class: "img-responsive img-establishment"
      .caption
        %h4= link_to truncate(establishment.name, length:20), "#", class: "locate-pin", data: { lat: establishment.latitude, lng: establishment.longitude }
        %p.minimize= establishment.location
        %p= establishment.open_hours
        %ul.details
          %li=image_tag establishment.pin_img, data: { toggle: "tooltip"}, title: establishment.category.name
          %li=image_tag "landing/verified.png", data: { toggle:  "tooltip" }, title: "Verified" if establishment.is_verified


:javascript
  $(function() {
    Connectory.minimize.initialize()
    $('[data-toggle="tooltip"]').tooltip()
    $(".locate-pin").click(function() {
      set_map_center($(this).data("lat"), $(this).data("lng"))
    })

    function set_map_center(lt, lng){
      var pos = new google.maps.LatLng(lt, lng)
      for(var i=0;i<markers.length;i++){
          if(markers[i].position.equals(pos))
              google.maps.event.trigger(markers[i], 'click');

      }
    }

  })
