#map-canvas
#main.container-fluid
  .row
    .col-md-6.vcenter.filter
      = render 'filter'
    .col-md-6.col-lg-6.vcenter
      .sidebar
        %p.count Displaying #{@establishments.count} establishments
        = render 'results'


:javascript
  $(function() {
    Connectory.maps.initialize(#{@places})
  })

:css
  .count {
    padding: 10px 0 0 18px;
  }

  .filter {
    background-color: #565a5b;
    border-bottom: 1px solid #bbb;
  }

  .sidebar {
    overflow-y: auto;
    height: 580px;
  }

  .vcenter {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

