.banner-wrapper
  .title-container
    .headline
      .combo
        = image_tag "landing/logo-big.png"
        %span.service-content
          %p.subtitle Everyone within reach
        = link_to "Search Now", filter_landing_index_path, class: "btn btn-semi-transparent btn-contrast btn-large"
