@import "../variables";

body {
  height: 100%;
}

hr {
  margin-bottom: 2rem;
  border-top: 0.9rem solid transparent;
  border-bottom: 0.1rem solid;
  border-right-color: transparent;
  border-left-color: transparent;
}

.text-gray {
  color: #A4A5AD;
}

.text-black-light {
  color: #65656E;
}

.text-gray-light {
  color: #BABBC1;
}


.xs-zap {
  font-size: 11px;
}

.wings {
  display: table;
  width: 100%;
  margin: 25px 0px 0px 0px;
}

.wing {
  display: table;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  height: 0.1rem;
  background-color: #DEE0E5;

  &::before {
    content: '';
    vertical-align: middle;
    position: absolute;
    height: 0.5rem;
    top: -0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.wing-target {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 0.1rem;
  padding: 0 4rem;
}

.block-full {
  display: block;
  width: 100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

p {
  font-weight: 300;
  color: #505057;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.panel-fixed {
  margin-top: 10px;
  .panel-body {
    margin-top: 17px;
  }
}
