%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if action_name != 'index'
          %li
            = link_to "All Establishments", establishments_path
        %li
          = link_to "New Establishment", new_establishment_path

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to current_partner.full_name, "/"
        %li
          = link_to "Log Out", destroy_partner_session_path, method: :delete