.container.auth
  .authentication-block
    %a.brand{href:"/landing/filter"}
    %p.brand-tagline
      Directories that works offline
  .page-box
    .text-center
      %h1.title Sign In
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .col-md-12
        %label.zap-label
          Email
          = f.email_field :email, autofocus: true, class: "zap-input", autocomplete: false
      .col-md-12
        %label.zap-label
          Password
          = f.password_field :password, autocomplete: "off", class: "zap-input"

      .col-md-12
        .form-actions
          = f.submit "Sign In", class: "zap-success block-full"

      .col-md-12.form-actions
        %p Create an Account
        = link_to "Sign Up", new_partner_registration_path
