@import "../variables.scss";

.title-container {
  z-index: 1000;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  h2.text-jumbo, .service-content {
    font-size: 52px;
    font-weight: 700;
    float: none;
    margin: 0 auto;
    width: 550px;
    p.subtitle {
      font-size: 30px;
    }
  }
}

.banner-wrapper {
  position: relative;
  height: 600px;
}

.video-container {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  video {
    width: 100%;
  }
  .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-size: 100% 100%;
    background-size: cover;
  }
}

.combo {
  height: 240px;
  float: right;
  text-align: right;
  padding-right: 100px;
}



.typed-cursor{
  font-size: 57px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@media (max-width: $screen-sm-max) {

  .banner-wrapper {
    height: 200px;
  }

  .combo {
    height: 100%;
  }

  .title-container {
    top: 21% !important;

    h2.text-jumbo, .service-content {
      font-size: 26px;
      width: 300px;
    }
  }


  .btn-large {
    margin-top: -57px !important;
    font-size: 10px;
  }

}

@media (max-width: $screen-md-min) {
  .title-container {
    top: 30%;
  }
}


