@import "../variables.scss";

.btn-semi-transparent {
  background: rgba(255,255,255,0.5);
  border-style: none;
  -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.btn-contrast {
  border-color: #676c6e;
  border-bottom-color: #444749;
  color: #fff;
  &:hover {
    border-color: #565a5c;
    border-bottom-color: #383b3c;
    background-color: #565a5c;
    color: #fff;
  }
}

.btn-large {
  padding: 9px 27px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin-top: -14px;
}

.btn-primary {
  color: $white;
  background: $primary-color;
  padding-left: 26px;
  padding-right: 26px;
  border-bottom: 3px solid $secondary-color;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  &:hover {
    background-color: $primary-hover;
    transition: $btn-transition;
    border-bottom: 3px solid $secondary-color;
  }
  &:active {
    background: $primary-color;
    padding-left: 26px;
    padding-right: 26px;
    border-bottom: 3px solid $secondary-color;
  }
}


.btn-ld-md {
  border: 2px solid #fff;
  margin: 10px;
  border-radius: 4px;
  background-color: rgba(204, 204, 204, 0);
  color: #ccc;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $primary-color;
    border-bottom: 1px solid $secondary-color;
    opacity: .8;
    color: #2C2C2C;
  }
}

.searchbar-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: block;
  height: 44px;
  float: left;
  margin: 0 -1px 0 0;
  padding-bottom: 0;
  vertical-align: middle;
  width: auto;
}

input[type="submit"].zap-success, .zap-success {
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  padding: 15px 20px;
  background: #3ebaa0;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: $primary-color;
  border-color: #1CB78C;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  letter-spacing: .05rem;
  border-radius: 0.2rem;
  border: none;
  &:hover {
    background-color: #11acff;
    transition: $btn-transition;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
  }
}

