ul.details {
  padding: 0;
  li {
    display: inline;
  }
}

.page-box {
  background: white;
  padding: 30px;
  border-radius: 4px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page-section {
  padding: 40px 0;
  margin: auto;
}

.main{
  padding: 38px;
  margin-top: 9px;
}

.login-footer{
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
  margin-left: 20px;
  margin-right: 20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
}
.login-btn-div{
  margin-top: -16px;
}

.full-width {
  width: 100%;
}

.crop {
    width: 100%;
    height: 150px;
    overflow: hidden;
  .img-establishment {
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

