@import "../variables";

.footer {
  width: 100%;
  text-align: center;
  .footer-content {
    background: transparent;
    min-height: 300px;
    z-index: 1000;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    .subtitle {
      color: #fff;
      font-weight: 300;
      font-size: 19px;
      -webkit-font-smoothing: antialiased;
    }
}
  .footer-container {
    background: url(asset_path("footers/photographer.jpg")) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
    height: 350px;
    width: 100%;
    float: left;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #3A3A3A, #151515);
      opacity: .5;
    }
  }
  h2 {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    -webkit-font-smoothing: antialiased;
  }

  .btn {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
  }
}

.footer-links {
  float: left;
  width: 100%;
  height: 106px;
  background: none repeat scroll 0% 0% #2B2E31;
  padding: 44px;
  .copyright {
    float: left;
    color: $white;
  }
  .social-links {
     float: right;
     a {
       cursor: pointer;
       font-weight: bold;
       padding: 20px;
       margin: 0 0 4px 0;
       font-size: 12px;
       color: #777;
       &:hover {
         color: $primary-color;
         text-decoration: none;
      }
      .fa-3 {
        font-size: 2em;
      }
    }
  }
}


@media (max-width: $screen-sm-max) {
  .footer-links {
    padding: 20px;
    .copyright {
      float: none;
    }
    .social-links {
      padding: 10px;
      float: none;
    }
  }
  .footer-container {
    padding: 40px 0px !important;
    .subtitle {
      padding-bottom: 58px;
    }
  }
}
