@import "../variables";

/*Subscribe Form*/
.horizontal-subscribe-form {
  display: inline-block;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  padding: 8px 8px 8px 8px;

  .input-box {
    font-size: 15px;
    min-height: 59px;
    width: 350px;
    margin: 3px;
    letter-spacing: 1px;
  }

  .standard-button {
    @media(max-width:767px){
      width: 98%;
    }
  }
}

.back-btn {
  margin-bottom: 20px;
}

/*.form-btn{
  height: 50px !important;
  width: 100%;
  vertical-align: middle;
}*/

.form-session-blurb {
  padding: 20px;
  background: none repeat scroll 0 0 #f3f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  text-align: center;
  overflow: hidden;

  a {
    color: $primary-color;
  }

}


.zap-label {
  color: #53545B;
  padding-top: 20px;
  font-weight: 500;
  display: block;
  padding-top: 20px;
}


.form-actions {
  float: left;
  width: 100%;
  text-align: center;
  margin: 6% 0% 0% 0%;
}

.fb-signup {
  display: inline-block;
  background-color: #43639A;
  border-color: #43639A;
  color: #F1F2F4;
  padding-left: 5rem;
  padding-right: 1rem;
  min-height: 4.8rem;
  font-size: 1.2rem;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  border-radius: 0.2rem;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #5675AB;
    text-decoration: none;
    color: white;
  }

  &::before{
    background: #324a73 no-repeat center center;
    width: 4rem;
    content: '';
    height: 100%;
    position: absolute;
    left: 15px;
    border-radius: 0.2rem;
    top: 0;
    display: inline-block;
    border: 0.1rem solid transparent;
  }
}

.searchbar-location {
  float: left;
  margin: 0 -1px 0 0;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
  width: auto;
}

.search-form {
  input {
    display: block;
    height: 44px;
  }
}

.action-calls {
  margin: 15px;
  text-align: center;
}

.input-wrapper {
  position: relative;
  float: left;
}

#searchbar-form {
  display: inline-block;
  vertical-align: middle;
}