@import "../variables";

.heading-desc h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5em;
  margin-bottom: 0.4em;
  color: #3a3a3a;
}
