@import "../variables";

input[type="submit"] {
  font-size: 1.1em;
  padding: 7px 20px;
  background: $primary-color;
  color: $white;
  border-bottom: 3px solid $dark-primary-color;
  border: none;
  height: 50px;
  &:hover {
    color: white;
    background: $primary-color;
    transition: $btn-transition;
    &:before { color: white; transform: scale(1.1); }
  }
}

input[type="text"]
input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #333;
  font-size: 13px;
  line-height: 1.8em;
  margin: 6px 0;
  padding: 12px 8px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  &:focus {
    border: 1px solid $primary-color;
    color: white;
    &:before { color: white; transform: scale(1.1); }
  }
}

.zap-input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 12px 10px;
  font-size: 1em;
  line-height: 20px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08), inset 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08), inset 1px 1px rgba(0, 0, 0, 0.08);
  background: #ecf1f4 !important;
  color: #505057;
  -webkit-transition: -webkit-box-shadow 250ms linear, background 250ms linear;
  transition: box-shadow 250ms linear, background 250ms linear;
  &:hover {
    outline: none;
    color: #3a3a3a;
    -webkit-box-shadow: inset 0 0 0 1px rgba(75, 179, 233, 0.8), inset 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(75, 179, 233, 0.1);
    box-shadow: inset 0 0 0 1px rgba(75, 179, 233, 0.8), inset 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(75, 179, 233, 0.1);
  }
  &:focus, &:active {
    -webkit-box-shadow: inset 0 0 0 1px rgba(75, 179, 233, 0.8), inset 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(75, 179, 233, 0.1);
    box-shadow: inset 0 0 0 1px rgba(75, 179, 233, 0.8), inset 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(75, 179, 233, 0.1);
    background: white;
    outline: none;
    color: #3a3a3a;
  }
}

.btn-primary-submit {
  border-color: #6bc8e8;
  border-bottom-color: #4465a2;
  background-color: #6bc8e8;
  color: #fff;
}

.btn-semi-transparent {
  background: rgba(255,255,255,0.5);
  border-style: none;

  &:hover {
    background-color: rgba(0,0,0,0.35);
  }
}

.btn-contrast {
  border-color: #565a5c;
  border-bottom-color: #383b3c;
  color: #fff;

  &:hover, &:focus {
    border-color: #676c6e;
    border-bottom-color: #444749;
    color: #fff;
  }
}

.input-large {
  padding: 9px 27px;
  font-size: 16px;
}