@import "../variables";

.horizontal-subscribe-form {
  display: inline-block;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  padding: 8px 8px 8px 8px;

  @media(max-width: 770px) {
    width: 100%;
    padding: 8px 16px 8px 8px;
  }

  .input-box {
    font-size: 15px;
    min-height: 59px;
    width: 350px;
    margin: 3px;
    letter-spacing: 1px;

    @media(max-width:770px){
      width: 100%;
    }
  }

  .standard-button {
    background: $primary-color;
    border-bottom: 3px solid #3ebaa0;
    margin: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.6;
    padding: 18px 40px 18px 40px;
    color: $white;
    -webkit-transition: none;
    transition: none;

    @media(max-width:770px){
      width: 100%;
    }

  }
}
