@font-face{
  font-family: 'Proxima Nova';
  src: url(font-path('ProximaNova-Reg.otf')) unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url(font-path('ProximaNova-Light.otf')) unquote("format('opentype')");
  font-weight: 300;
  font-style: normal;
}

/* Fonts */
$proxima-nova: 'Proxima Nova';

/*Colors*/
$primary-color: #4bb3e9;
$primary-hover: #54c9a8;
$dark-primary-color: #353e48;
$secondary-color: #3ebaa0;
$white: #ffffff;
$black: #000000;
$dark: #292929;
$text-color: #60697b;


/*Backgrounds*/
$background-color: #F1F2F4;

/*Transitions*/
$btn-transition: color 0.25s, background 0.25s;

/*media sizes*/
$screen-xs-max: 768px; //mobile view
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 1078px; //tablet-view
$screen-md-max: 1200px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;
$full-screen-width: calc(100% - 100px); // calculates the full width in px

