/*
*= require bootstrap/dist/css/bootstrap
*= require jackedup.css
*/

/*components*/
@import "variables";
@import "components/containers";
@import "components/inputs";
@import "components/forms";
@import "components/subscribe_form";


body {
  padding-top: 70px;
  font-family: $proxima-nova;
}

.navbar-inverse {
  background-color: #3498DB;
  a.navbar-brand {
    color: #fff;
  }
  .navbar-nav  {
    li a { color: #fff; }
  }
}


.navbar-brand {
  float:left;
  height:50px;
  padding:15px 15px;
  font-size:18px;
  line-height:20px;
  background-image: url(asset_path("landing/navbar-brand.png"));
  background-repeat: no-repeat;
  background-position: left center;
  width: 200px;
}
