/*
*= require bootstrap/dist/css/bootstrap
*= require jackedup.css
*/

/*main*/
@import "overrides/landing";

/*components*/
@import "variables";
@import "components/containers";
@import "components/inputs";
@import "components/forms";
@import "components/subscribe_form";


body.auth-body {
  font-family: $proxima-nova;
  background: url(asset_path('landing/auth.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.auth {
   padding: 50px 0 50px 0;
   width: 450px;
   padding: 40px 0;
   margin: auto;
  .authentication-block {
    text-align: center;
    width: auto;
    margin: auto;
    padding-bottom: 10px;
    .brand {
      background: url(asset_path('landing/connectory-transparent.png')) no-repeat center center;
      height: 55px;
      width: 460px;
      display: inline-block;
      &:hover {
        background: url(asset_path('landing/connectory-colored.png')) no-repeat center center;
        transition: $btn-transition;
      }
    }
    p.brand-tagline {
      color: $white;
    }
  }


  h1.title {
    font-weight: 300;
  }
}
