/*
*= require bootstrap/dist/css/bootstrap
*/

/* landing */
@import "overrides/landing";


/*components*/
@import "variables";
@import "components/footer";
@import "components/containers";
@import "components/inputs";
@import "components/forms";
@import "components/subscribe_form";
@import "components/headers";
@import "components/font_awesome";
@import "components/maps";


body{
 padding-top:50px; /*padding for navbar*/
 font-family: $proxima-nova;
 overflow: hidden;
}

.navbar-brand {
  float:left;
  height:50px;
  padding:15px 15px;
  font-size:18px;
  line-height:20px;
  background-image: url(asset_path("landing/navbar-brand.png"));
  background-repeat: no-repeat;
  background-position: left center;
  width: 300px;
}

#map-canvas {
  background-color: #eee;
}

select.form-control {
 height: 52px;
}

.navbar-inverse {
  background-color: #3498DB;
  a.navbar-brand {
    color: #fff;
  }
  .navbar-nav  {
    li a { color: #fff; }
  }
}
