/*
*= require bootstrap/dist/css/bootstrap
*= require jackedup.css
*/


/*components*/
@import "components/banner";
@import "components/buttons";
@import "variables";


body.start {
  font-family: $proxima-nova;
  background: url(asset_path('landing/landing.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #3A3A3A, #151515);
      opacity: .5;
 }
}

