.form-container.form-horizontal
  .form-group
    #map-canvas{ style: "height: 500px;" }
    %input#input-autocomplete{ size: 100 }

  .form-group
    %label.col-sm-3.control-label Name
    .col-sm-9
      = f.text_field :name, class: "form-control", required: true

  .form-group
    %label.col-sm-3.control-label Address
    .col-sm-9
      = f.text_area :address, class: 'form-control'

  .form-group
    %label.col-sm-3.control-label City
    .col-sm-9
      = f.select :city_id, @options.cities, { prompt: "Select a City" }, class: 'form-control'

  .form-group
    %label.col-sm-3.control-label Category
    .col-sm-9
      = f.select :category_id, @options.categories, { prompt: "Select a Category" }, class: 'form-control'

  .form-group
    %label.col-sm-3.control-label Landline
    .col-sm-9
      = f.text_field :landline, class: 'form-control form-input'

  .form-group
    %label.col-sm-3.control-label Mobile
    .col-sm-9
      = f.text_field :mobile, class: 'form-control form-input'

  .form-group
    %label.col-sm-3.control-label Open Hours
    .col-sm-9
      = f.text_area :open_hours, class: 'form-control form-input'

  .form-group
    %label.col-sm-3.control-label Image
    .col-sm-6
      .crop
        = image_tag @establishment.image_url, class: "image-preview img-responsive img-establishment"

        = hidden_field_tag :latitude, value: @establishment.latitude
        = hidden_field_tag :longitude, value: @establishment.longitude

  .form-group
    %label.col-sm-3.control-label
    .col-sm-9
      = f.filepicker_field :filepicker_url, data: { "fp-apikey" => "AY9xVsY6mSJuaAaG0S7Zjz" }, onchange: 'file_preview(event.fpfile.url)'


:javascript
  $(function() {
    window.file_preview = function(url) {
      $('.image-preview').attr('src', url)
    }

    var mapOptions;

    if(#{@establishment.latitude.present? && @establishment.longitude.present?}) {
      mapOptions = {
          center: { lat: parseFloat("#{@establishment.latitude}"), lng: parseFloat("#{@establishment.longitude}") },
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    }
    else {
      mapOptions = {
          center: { lat: 12.764251, lng: 122.362238 },
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    }

    map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);

    input = document.getElementById('input-autocomplete');

    console.log(mapOptions.center.lat);
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(mapOptions.center.lat, mapOptions.center.lng),
      map: map
    });

    addInputAutocomplete();
  });

  function addInputAutocomplete(){
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var options = {
        types: ['establishment']
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
    google.maps.event.addListener(autocomplete, 'place_changed', function(){
        fillInAddress();
        var place = autocomplete.getPlace();
    });

  }

  function fillInAddress() {
    var place = autocomplete.getPlace();

    map = new google.maps.Map(document.getElementById('map-canvas'),{
        center: place.geometry.location,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    addInputAutocomplete();

    var address_components = place.address_components;

    document.getElementById('latitude').value = place.geometry.location.lat();
    document.getElementById('longitude').value = place.geometry.location.lng();
    document.getElementById('establishment_name').value = place.name;
    document.getElementById('establishment_address').value = place.formatted_address;
    document.getElementById('establishment_landline').value = place.international_phone_number;

  }

    

