- @establishments.each do |establishment|
  .col-md-3.col-sm-6.hero-feature
    .thumbnail
      .crop
        = image_tag establishment.image_url, class: "img-responsive img-establishment"
      .caption
        %ul.details
          %li=image_tag establishment.pin_img, data: { toggle: "tooltip"}, title: establishment.category.name
          %li=image_tag "landing/verified.png", data: { toggle:  "tooltip" }, title: "Verified" if establishment.is_verified
        %h4= truncate(establishment.name, length:20)
        %p.minimize= establishment.location
        %p= establishment.open_hours
        %p= establishment.contact_details
        %p
          %a.btn.btn-primary{href: edit_establishment_path(establishment)} Edit
          %a.btn.btn-default{href: establishment_path(establishment), method: 'delete'} Delete


:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
    Connectory.minimize.initialize()
  })
