.container-fluid.col-centered.col-xs-10
  .row
    .panel.panel-default.clearfix
      .panel-heading
        %h2.panel-title Edit Establishment
      .col-xs-12
        = form_for @establishment, method: :put do |f|
          = render 'form', f: f
          .panel-footer.col-md-12
            .pull-right= f.submit 'Save', class: 'btn btn-primary form-btn'
