- if @establishments.any?
  .row.text-center
    = render 'results'
- else
  .jumbotron
    %h1.text-center You have no establishments yet.
    .text-center= link_to "Create one now", new_establishment_path, class: 'btn btn-primary btn-lg'
