!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Connectory
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places"
    = csrf_meta_tags
  %body
    = render 'shared/navbar_landing'
    = render 'shared/messages', flash: flash
    = yield
