!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Connectory
    = stylesheet_link_tag 'start', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.start
    = yield
